@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    color-scheme: dark;
    font-family: "Poppins", serif;
}

html {
    scroll-behavior: smooth;
  }

.note-item h2 {
    font-size: 2rem;
    color: white;
    font-weight: 600;
    margin: 10px ;
}
.note-item p {
    font-size: 1rem;
    padding: 10px 15px;
    color: rgb(210, 210, 210);
}
.note-example{
    margin: 10px 0px;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.note-example h3 {
    background-color: rgb(25, 24, 24);
    color: rgb(139, 138, 138);
    font-size: 1.4rem;
    padding: 4px 8px;
}


pre {
    background-color: #2d2d2d; 
    color: #f8f8f2; 
    padding: 1rem;
    border-radius: 8px;
    font-family: "Poppins", serif;
    font-size: 14px;
    overflow-x: auto; 
    line-height: 1.6; 
    white-space: pre-wrap; 
    border: 1px solid #444;
  }
  
  pre .keyword {
    color: #66d9ef; 
  }
  
  pre .string {
    color: #a6e22e; 
  }
  
  pre .number {
    color: #ae81ff; 
  }
  
  pre .comment {
    color: #75715e; 
  }
  
  pre .function-name {
    color: #e6db74;
  }
  
  pre .tag {
    color: #f92672; 
  }
  

  /*  icons  */

